*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cecece;
    background-size: cover;
    background-position: center;
}

header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 99; 
}

.logo{
    font-size: 2em;
    color: #001047;
    user-select: none;
}


.wrapper{
    position: relative;
    width: 410px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.wrapper .form-box{
    width: 100%;
    padding: 40px;
}



.form-box h2{
  font-size: 2em;
  color: #01000d;
  text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #001047;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #01000d;
    font-weight: 500;
    pointer-events: none;
    transition: .5s; 
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box input{ 
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #001047;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{   
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #001047;
    line-height: 57px;
}


.btn{
    width: 100%;
    height: 45px;
    background: #01000d;
    border: none;
    outline: auto;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #cecece;
    font-weight: 500;
}